{% extends "::base.html.twig" %}

{% block title %}OperateurTelecomBundle:Abonnes:add{% endblock %}

{% block body %}
<h1>Welcome to the Abonnes:add page</h1>
    <hr>
    {{ form(form) }}
{% endblock %}
