{% extends "::base.html.twig" %}

{% block title %}OperateurTelecomBundle:SIM:addSim{% endblock %}

{% block body %}
<h1>Welcome to the SIM:addSim page</h1>
    <hr>
    {{ form(form) }}
{% endblock %}
